<ion-view title="Moderator" id="page59" class="bg-grad">
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="moderator-container6" class="styled-container">
      <ion-list id="moderator-list4">
        <ion-item class="item-divider" id="moderator-list-item-divider1"> Kategori</ion-item>
      </ion-list>
      <button id="moderator-button23" ng-click="userAction('nav','appserv1','kumpulanUsrah',null)" class="button button-balanced button-block">Usrah</button>
      <a ui-sref="kumpulanUsrah()" id="moderator-button24" ng-disabled="true" class="button button-balanced button-block">Tamrin</a>
      <a ui-sref="kumpulanUsrah()" id="moderator-button25" ng-disabled="true" class="button button-balanced button-block">Liqa</a>
    </div>
  </ion-content>
</ion-view>